# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
main
*.exe
*.out
*.app

# Core dumps
*.core

# Backups
*.BAK

# Vim swap
*.sw[a-zA-Z]

# Lint stuff
*.ln

# CTAGS
tags

# AsciiDoc renderings
*.html
*.png
